@model IEnumerable<KinectApi.Models.Quiz>

@{
    ViewBag.Title = "Index";
}

<h2>Quizzes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Questions", "Index", "Question", new { quizId = item.Id }, null)
        </td>
    </tr>
}

</table>
